.basket {
  height: $height-header;
  width: $height-header;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  &__count {
    margin-top: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: gray;
    font-size: 2rem;
  }
}