html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
  font-family: 'Neucha', cursive;
  color: #fff;
  user-select: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.hide {
  display: none;
}

.anim {
  transform: scale(1);
  animation-name: scaleToNull;
  animation-duration: 0.01ms;
}

@keyframes scaleToNull {
  to {
    transform: scale(1)
  }
}
