html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
  font-family: 'Neucha', cursive;
  color: #fff;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.body {
  background-image: url('../../assets/bg.jpg');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

